[Unit]
Description=import data from a public webdav to ConedaKOR (service)

[Service]
Type=oneshot
User=app
Group=app
ExecStart=/opt/scripts.git/webdav_import.sh
